In [1]:
import pandas as pd
import numpy as np
from analysis.utilities import *
from matplotlib import pyplot as plt
%matplotlib inline

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [47]:
df = pd.read_csv("brc000d-subopt-fwd-inspect.out")

In [48]:
df.head()

   row  runs  hrun   hcnt  crun  ccnt  cx  cy   x   y      map
0    0     2     1  27386     0     0  99   8  99   8  brc000d
1    1     4     1  23228     0     0  99   8  99   9  brc000d
2    2     4     1  23227     0     0  98  10  99  10  brc000d
3    3     4     1  23227     0     0  98  10  99  11  brc000d
4    4     4     1  23226     0     0  98  12  99  12  brc000d

In [49]:
df[df['runs'] == df['runs'].max()]

       row  runs  hrun  hcnt  crun   ccnt   cx   cy    x    y      map
5778  5778   261     7  1176    24  10951  222  124  223  124  brc000d

In [50]:
df[['crun', 'ccnt', 'runs', 'hrun']].describe()

               crun          ccnt          runs          hrun
count  28963.000000  28963.000000  28963.000000  28963.000000
mean       1.022063   4646.103063     23.986224      2.922142
std        2.078387   8218.402861     34.794381      3.139415
min        0.000000      0.000000      2.000000      0.000000
25%        0.000000      0.000000      4.000000      1.000000
50%        0.000000      0.000000      7.000000      2.000000
75%        1.000000   5694.000000     28.000000      4.000000
max       24.000000  27386.000000    261.000000     27.000000

In [52]:
df[(df['cx'] == 222) & (df['cy'] == 124)]

       row  runs  hrun  hcnt  crun   ccnt   cx   cy    x    y      map
5752  5752   162     0     0    14  10286  222  124  222  125  brc000d
5753  5753   207     6  4699     0      0  222  124  222  124  brc000d
5778  5778   261     7  1176    24  10951  222  124  223  124  brc000d
5779  5779   174     3  4241     0      0  222  124  223  125  brc000d