In [2]:
import pandas as pd
import os
%matplotlib inline

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [17]:
df_size = pd.read_csv(open('size.txt'))

In [89]:
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [90]:
df = pd.merge(df0, df1, on='map')

In [92]:
df['ratio'] = df['bytes-0'] / df['bytes-1']

In [93]:
df.head()

       map  bytes-0  bytes-1     ratio
0  den504d  4360940   906196  4.812358
1  lak108d    34700     7548  4.597244
2  den200d  5188024  1053524  4.924448
3  lak105d    43032    19160  2.245929
4  orz107d    85164    16704  5.098420

In [106]:
pd.DataFrame(df.ratio.describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio,156.0,4.848261,2.786469,2.191994,3.476017,4.15138,5.269512,24.995184

In [102]:
print ((pd.DataFrame(df.ratio.describe()).T).to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
{} &  count &      mean &       std &       min &       25\% &      50\% &       75\% &        max \\
\midrule
ratio &  156.0 &  4.848261 &  2.786469 &  2.191994 &  3.476017 &  4.15138 &  5.269512 &  24.995184 \\
\bottomrule
\end{tabular}

In [97]:
print (df.ratio.describe().T.to_latex())

\begin{tabular}{lr}
\toprule
{} &       ratio \\
\midrule
count &  156.000000 \\
mean  &    4.848261 \\
std   &    2.786469 \\
min   &    2.191994 \\
25\%   &    3.476017 \\
50\%   &    4.151380 \\
75\%   &    5.269512 \\
max   &   24.995184 \\
\bottomrule
\end{tabular}

In [3]:
prefix = '../outputs/'
h0 = [prefix + i for i in os.listdir(prefix) if i.endswith('0.txt')]
h1 = [prefix + i for i in os.listdir(prefix) if i.endswith('1.txt')]

In [4]:
df0 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h0])
df1 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h1])

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  if __name__ == '__main__':
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  from ipykernel import kernelapp as app

In [5]:
df0.head()

,map,scenid,total,20move,total-src,20move-src,distance,path_size,hLevel
0,lak101d,0,166,154,107,117,2.41421,3,0
1,lak101d,1,166,152,121,146,3.41421,4,0
2,lak101d,2,186,162,95,130,3.41421,4,0
3,lak101d,3,159,147,123,138,3.82843,4,0
4,lak101d,4,100,103,96,108,2.00000,3,0

In [6]:
df0.drop(columns=['hLevel'], inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

In [12]:
df = pd.merge(df0, df1, on=['map', 'scenid'])

In [13]:
df.head()

,map,scenid,total_x,20move_x,total-src_x,20move-src_x,distance_x,path_size_x,total_y,20move_y,total-src_y,20move-src_y,distance_y,path_size_y
0,lak101d,0,166,154,107,117,2.41421,3,156,150,105,106,2.41421,3
1,lak101d,1,166,152,121,146,3.41421,4,139,130,93,99,3.41421,4
2,lak101d,2,186,162,95,130,3.41421,4,152,154,88,94,3.41421,4
3,lak101d,3,159,147,123,138,3.82843,4,137,148,84,93,3.82843,4
4,lak101d,4,100,103,96,108,2.00000,3,90,91,81,81,2.00000,3

In [14]:
df.drop(columns=['distance_x', 'path_size_x', 'total-src_x', '20move-src_x'], inplace=True)

In [15]:
df.rename(columns={'total_x': 'total0', 
                   'total_y': 'total1', 
                   '20move_x': '20move0', 
                   '20move_y': '20move1',
                   'total-src_y': 'total-src',
                   '20move-src_y': '20move-src',
                   'path_size_y': 'path_size',
                   'distance_y': 'distance'}, inplace=True)

In [16]:
df.head()

,map,scenid,total0,20move0,total1,20move1,total-src,20move-src,distance,path_size
0,lak101d,0,166,154,156,150,105,106,2.41421,3
1,lak101d,1,166,152,139,130,93,99,3.41421,4
2,lak101d,2,186,162,152,154,88,94,3.41421,4
3,lak101d,3,159,147,137,148,84,93,3.82843,4
4,lak101d,4,100,103,90,91,81,81,2.00000,3

In [202]:
df['ratio_total'] = df.total0 / df.total1
df['ratio20'] = df['20move0'] / df['20move1']

In [203]:
df['total_vs_20_0'] = df.total0 / df['20move0']
df['total_vs_20_1'] = df.total1 / df['20move1']

In [204]:
pd.DataFrame(df['total_vs_20_0'].describe()).T

,count,mean,std,min,25%,50%,75%,max
total_vs_20_0,155620.0,8.091989,9.316379,0.748954,2.677698,5.305104,9.995492,261.793814

In [205]:
pd.DataFrame(df['total_vs_20_1'].describe()).T

,count,mean,std,min,25%,50%,75%,max
total_vs_20_1,155620.0,8.433802,9.497184,0.645197,2.699517,5.45216,10.515797,194.701149

In [208]:
pd.DataFrame(df['ratio_total'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio_total,155620.0,1.136307,0.144924,0.382997,1.057471,1.117647,1.18798,3.157051

In [207]:
pd.DataFrame(df['ratio20'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio20,155620.0,1.181493,0.250317,0.144702,1.030769,1.135458,1.281588,11.358423

In [217]:
pd.DataFrame(df.loc[df.ratio20.argmin()]).T

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  if __name__ == '__main__':

,map,scenid,total0,20move0,total1,20move1,distance_y,path_size_y,ratio_total,ratio20,total_vs_20_0,total_vs_20_1
27766,ost100d,1316,9199,325,10080,2246,524.877,477,0.912599,0.144702,28.3046,4.48798