In [2]:
import pandas as pd
import os
%matplotlib inline

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [17]:
df_size = pd.read_csv(open('size.txt'))

In [89]:
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [90]:
df = pd.merge(df0, df1, on='map')

In [92]:
df['ratio'] = df['bytes-0'] / df['bytes-1']

In [93]:
df.head()

       map  bytes-0  bytes-1     ratio
0  den504d  4360940   906196  4.812358
1  lak108d    34700     7548  4.597244
2  den200d  5188024  1053524  4.924448
3  lak105d    43032    19160  2.245929
4  orz107d    85164    16704  5.098420

In [106]:
pd.DataFrame(df.ratio.describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio,156.0,4.848261,2.786469,2.191994,3.476017,4.15138,5.269512,24.995184

In [102]:
print ((pd.DataFrame(df.ratio.describe()).T).to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
{} &  count &      mean &       std &       min &       25\% &      50\% &       75\% &        max \\
\midrule
ratio &  156.0 &  4.848261 &  2.786469 &  2.191994 &  3.476017 &  4.15138 &  5.269512 &  24.995184 \\
\bottomrule
\end{tabular}

In [75]:
df_size = pd.read_csv(open('size_part.txt'))

In [76]:
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]
df2 = df_size[df_size.hLevel == 2]
df3 = df_size[df_size.hLevel == 3]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

df2.rename(columns={'bytes': 'bytes-2'}, inplace=True)
df2.drop(columns=['hLevel'], inplace=True)

df3.rename(columns={'bytes': 'bytes-3'}, inplace=True)
df3.drop(columns=['hLevel'], inplace=True)

df = pd.merge(df0, df1, on='map')
df = pd.merge(df, df2, on='map')
df = pd.merge(df, df3, on='map')

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [78]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>map</th>
      <th>bytes-0</th>
      <th>bytes-1</th>
      <th>bytes-2</th>
      <th>bytes-3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>brc000d</td>
      <td>10352996</td>
      <td>4307840</td>
      <td>3359956</td>
      <td>3412188</td>
    </tr>
    <tr>
      <th>1</th>
      <td>brc100d</td>
      <td>7326560</td>
      <td>2562468</td>
      <td>2310620</td>
      <td>2337436</td>
    </tr>
    <tr>
      <th>2</th>
      <td>den404d</td>
      <td>26792</td>
      <td>8876</td>
      <td>8656</td>
      <td>8768</td>
    </tr>
    <tr>
      <th>3</th>
      <td>brc202d</td>
      <td>8021816</td>
      <td>2455696</td>
      <td>2231280</td>
      <td>2263964</td>
    </tr>
    <tr>
      <th>4</th>
      <td>random512-10-0</td>
      <td>313807080</td>
      <td>279120280</td>
      <td>217722432</td>
      <td>218996188</td>
    </tr>
    <tr>
      <th>5</th>
      <td>den200n</td>
      <td>3054072</td>
      <td>823732</td>
      <td>779924</td>
      <td>793984</td>
    </tr>
    <tr>
      <th>6</th>
      <td>den202d</td>
      <td>67204</td>
      <td>17176</td>
      <td>16060</td>
      <td>16520</td>
    </tr>
    <tr>
      <th>7</th>
      <td>arena2</td>
      <td>7168988</td>
      <td>2501612</td>
      <td>2466796</td>
      <td>2503784</td>
    </tr>
    <tr>
      <th>8</th>
      <td>arena</td>
      <td>483584</td>
      <td>103380</td>
      <td>70136</td>
      <td>72680</td>
    </tr>
  </tbody>
</table>

In [67]:
df

              map    bytes-0    bytes-1    bytes-2
0     maze512-1-0    3096780    3090232    3084924
1         brc000d   10352996    4307840    3359956
2         brc100d    7326560    2562468    2310620
3         den404d      26792       8876       8656
4         brc202d    8021816    2455696    2231280
5  random512-10-0  313807080  279120280  217722432
6         den200n    3054072     823732     779924
7      16room_000  176481032  158217928  157823592
8         den202d      67204      17176      16060
9          arena2    7168988    2501612    2466796

In [66]:
df_size = pd.read_csv(open('size_part2.txt'))
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]
df2 = df_size[df_size.hLevel == 2]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

df2.rename(columns={'bytes': 'bytes-2'}, inplace=True)
df2.drop(columns=['hLevel'], inplace=True)
df = pd.merge(df0, df1, on='map')
df = pd.merge(df, df2, on='map')

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [79]:
prefix = '../outputs/'
h0 = [prefix + i for i in os.listdir(prefix) if i.endswith('0.txt')]
h1 = [prefix + i for i in os.listdir(prefix) if i.endswith('1.txt')]
h2 = [prefix + i for i in os.listdir(prefix) if i.endswith('2.txt')]
h3 = [prefix + i for i in os.listdir(prefix) if i.endswith('3.txt')]

In [84]:
df0 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h0])
df1 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h1])
df2 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h2])
df3 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h3])

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  if __name__ == '__main__':
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  from ipykernel import kernelapp as app
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  app.launch_new_instance()
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [85]:
df0.head()

       map  scenid  total-src  20move-src  distance  path_size  hLevel
0  brc202d       0        219         187         0          0       0
1  brc202d       1        264         197         0          0       0
2  brc202d       2        413         551         0          0       0
3  brc202d       3        206         211         0          0       0
4  brc202d       4        335         352         0          0       0

In [86]:
df0.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df0.rename(columns={'total-src': 'total-src-0', '20move-src': '20move-src-0'}, inplace=True)

df1.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df1.rename(columns={'total-src': 'total-src-1', '20move-src': '20move-src-1'}, inplace=True)

df2.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df2.rename(columns={'total-src': 'total-src-2', '20move-src': '20move-src-2'}, inplace=True)

df3.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df3.rename(columns={'total-src': 'total-src-3', '20move-src': '20move-src-3'}, inplace=True)

In [87]:
df = pd.merge(df0, df1, on=['map', 'scenid'])
df = pd.merge(df, df2, on=['map', 'scenid'])
df = pd.merge(df, df3, on=['map', 'scenid'])

In [88]:
df.head()

,map,scenid,total-src-0,20move-src-0,total-src-1,20move-src-1,total-src-2,20move-src-2,total-src-3,20move-src-3
0,brc202d,0,219,187,134,124,175,194,131,138
1,brc202d,1,264,197,162,159,247,255,170,159
2,brc202d,2,413,551,276,297,461,467,333,453
3,brc202d,3,206,211,161,149,257,255,215,211
4,brc202d,4,335,352,173,208,211,346,190,205

In [91]:
df['ratio-total-01'] = df['total-src-0'] / df['total-src-1']
df['ratio-20-01'] = df['20move-src-0'] / df['20move-src-1']

In [93]:
df['ratio-total-03'] = df['total-src-0'] / df['total-src-3']
df['ratio-20-03'] = df['20move-src-0'] / df['20move-src-3']

In [94]:
pd.DataFrame(df['ratio-total-01']).describe().T

,count,mean,std,min,25%,50%,75%,max
ratio-total-01,7751.0,1.237554,0.24878,0.643408,1.072976,1.243968,1.375649,3.996865

In [96]:
pd.DataFrame(df['ratio-total-03'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-total-03,7751.0,1.187882,0.195675,0.664923,1.052247,1.181708,1.296751,2.975228

In [58]:
pd.DataFrame(df['ratio-20-01'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-20-01,5971.0,1.308542,0.347481,0.577568,1.089999,1.204748,1.431095,3.661631

In [97]:
pd.DataFrame(df['ratio-20-03'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-20-03,7751.0,1.281678,0.409764,0.532619,1.025639,1.175926,1.424318,4.628571