In [1]:
import pandas as pd
import os
%matplotlib inline

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [17]:
df_size = pd.read_csv(open('size.txt'))

In [89]:
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [90]:
df = pd.merge(df0, df1, on='map')

In [92]:
df['ratio'] = df['bytes-0'] / df['bytes-1']

In [93]:
df.head()

       map  bytes-0  bytes-1     ratio
0  den504d  4360940   906196  4.812358
1  lak108d    34700     7548  4.597244
2  den200d  5188024  1053524  4.924448
3  lak105d    43032    19160  2.245929
4  orz107d    85164    16704  5.098420

In [106]:
pd.DataFrame(df.ratio.describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio,156.0,4.848261,2.786469,2.191994,3.476017,4.15138,5.269512,24.995184

In [102]:
print ((pd.DataFrame(df.ratio.describe()).T).to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
{} &  count &      mean &       std &       min &       25\% &      50\% &       75\% &        max \\
\midrule
ratio &  156.0 &  4.848261 &  2.786469 &  2.191994 &  3.476017 &  4.15138 &  5.269512 &  24.995184 \\
\bottomrule
\end{tabular}

In [15]:
df_size = pd.read_csv(open('size_part.txt'))

In [16]:
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]
df2 = df_size[df_size.hLevel == 2]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

df2.rename(columns={'bytes': 'bytes-2'}, inplace=True)
df2.drop(columns=['hLevel'], inplace=True)
df = pd.merge(df0, df1, on='map')
df = pd.merge(df, df2, on='map')

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [17]:
df

               map    bytes-0    bytes-1    bytes-2
0      maze512-1-0    3096780    3090232    3084924
1          brc000d   10352996    4307840    3359956
2          brc100d    7326560    2562468    2310620
3          den404d      26792       8876       8656
4          brc202d    8021816    2455696    2231280
5   random512-10-0  313807080  279120280  217722432
6          den200n    3054072     823732     779924
7       16room_000  176481032  158217928  157823592
8          den202d      67204      17176      16060
9           arena2    7168988    2501612    2466796
10           arena     483584     103380      70136

In [54]:
prefix = '../outputs/'
h0 = [prefix + i for i in os.listdir(prefix) if i.endswith('0.txt')]
h1 = [prefix + i for i in os.listdir(prefix) if i.endswith('1.txt')]
h2 = [prefix + i for i in os.listdir(prefix) if i.endswith('2.txt')]

In [55]:
df0 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h0])
df1 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h1])
df2 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h2])

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  if __name__ == '__main__':
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  from ipykernel import kernelapp as app
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  app.launch_new_instance()

In [56]:
df0.head()

       map  scenid  total-src  20move-src  distance  path_size  hLevel
0  brc202d       0        166         205         0          0       0
1  brc202d       1        227         225         0          0       0
2  brc202d       2        407         515         0          0       0
3  brc202d       3        196         181         0          0       0
4  brc202d       4        280         321         0          0       0

In [58]:
df0.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df1.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df2.drop(columns=['hLevel', 'distance','path_size'], inplace=True)

In [67]:
df01 = pd.merge(df0, df1, on=['map', 'scenid'])
df01.rename(columns={'total-src_x': 'src-total-0', '20move-src_x': 'src-20moves-0',
                   'total-src_y': 'src-total-1', '20move-src_y': 'src-20moves-1'}, inplace=True)
df = pd.merge(df01, df2, on=['map', 'scenid'])
df.rename(columns={'total-src': 'src-total-2', '20move-src': 'src-20move-2'}, inplace=True)

In [70]:
df.head()

,map,scenid,src-total-0,src-20moves-0,src-total-1,src-20moves-1,src-total-2,src-20move-2
0,brc202d,0,166,205,132,122,236,221
1,brc202d,1,227,225,172,164,264,296
2,brc202d,2,407,515,361,431,596,690
3,brc202d,3,196,181,192,174,306,277
4,brc202d,4,280,321,230,282,290,360

In [71]:
df['ratio-total-01'] = df['src-total-0'] / df['src-total-1']
df['ratio-20-01'] = df['src-20moves-0'] / df['src-20moves-1']

In [72]:
df['ratio-total-02'] = df['src-total-0'] / df['src-total-1']
df['ratio-20-02'] = df['src-20moves-0'] / df['src-20move-2']

In [73]:
pd.DataFrame(df['ratio-total-01']).describe().T

,count,mean,std,min,25%,50%,75%,max
ratio-total-01,1621721.0,1.072766,0.148698,0.470356,0.974952,1.062454,1.163704,2.589286

In [74]:
pd.DataFrame(df['ratio-total-02'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-total-02,1621721.0,1.072766,0.148698,0.470356,0.974952,1.062454,1.163704,2.589286

In [75]:
pd.DataFrame(df['ratio-20-01'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-20-01,1621721.0,1.149351,0.181012,0.330291,1.032143,1.145833,1.267139,4.129568

In [76]:
pd.DataFrame(df['ratio-20-02'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-20-02,1621721.0,0.487154,0.134274,0.257463,0.400755,0.462141,0.548983,4.143333