In [1]:
import pandas as pd
import os
%matplotlib inline

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [17]:
df_size = pd.read_csv(open('size.txt'))

In [89]:
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [90]:
df = pd.merge(df0, df1, on='map')

In [92]:
df['ratio'] = df['bytes-0'] / df['bytes-1']

In [93]:
df.head()

       map  bytes-0  bytes-1     ratio
0  den504d  4360940   906196  4.812358
1  lak108d    34700     7548  4.597244
2  den200d  5188024  1053524  4.924448
3  lak105d    43032    19160  2.245929
4  orz107d    85164    16704  5.098420

In [106]:
pd.DataFrame(df.ratio.describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio,156.0,4.848261,2.786469,2.191994,3.476017,4.15138,5.269512,24.995184

In [102]:
print ((pd.DataFrame(df.ratio.describe()).T).to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
{} &  count &      mean &       std &       min &       25\% &      50\% &       75\% &        max \\
\midrule
ratio &  156.0 &  4.848261 &  2.786469 &  2.191994 &  3.476017 &  4.15138 &  5.269512 &  24.995184 \\
\bottomrule
\end{tabular}

In [20]:
df_size = pd.read_csv(open('size_part.txt'))

In [21]:
df0 = df_size[df_size.hLevel == 0]
df1 = df_size[df_size.hLevel == 1]
df2 = df_size[df_size.hLevel == 2]
df3 = df_size[df_size.hLevel == 3]

df0.rename(columns={'bytes': 'bytes-0'}, inplace=True)
df0.drop(columns=['hLevel'], inplace=True)

df1.rename(columns={'bytes': 'bytes-1'}, inplace=True)
df1.drop(columns=['hLevel'], inplace=True)

df2.rename(columns={'bytes': 'bytes-2'}, inplace=True)
df2.drop(columns=['hLevel'], inplace=True)

df3.rename(columns={'bytes': 'bytes-3'}, inplace=True)
df3.drop(columns=['hLevel'], inplace=True)

df = pd.merge(df0, df1, on='map')
df = pd.merge(df, df2, on='map')
df = pd.merge(df, df3, on='map')

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [22]:
df

              map    bytes-0    bytes-1    bytes-2    bytes-3
0         brc000d    3672760    2981716    2608148    2619168
1         brc100d    2209524    1760972    1658920    1661520
2         den404d      11324       9664       9560       9556
3         brc202d    2244080    1771228    1684812    1689768
4  random512-10-0  132990992  128452976  101080520  100816220
5         den200n    2042600    1859972    1835536    1839856
6         den202d      22456      17688      16952      16972
7          arena2    2063868    1578452    1554932    1559980
8           arena      99208      70932      62776      62816

In [35]:
prefix = '../outputs/'
h = [prefix + i for i in os.listdir(prefix) if i.endswith('original.txt')]
h0 = [prefix + i for i in os.listdir(prefix) if i.endswith('0.txt')]
h1 = [prefix + i for i in os.listdir(prefix) if i.endswith('1.txt')]
h2 = [prefix + i for i in os.listdir(prefix) if i.endswith('2.txt')]
h3 = [prefix + i for i in os.listdir(prefix) if i.endswith('3.txt')]

In [36]:
df_ = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h])
df0 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h0])
df1 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h1])
df2 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h2])
df3 = pd.concat([pd.DataFrame.from_csv(i, index_col=None) for i in h3])

/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  if __name__ == '__main__':
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  from ipykernel import kernelapp as app
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  app.launch_new_instance()
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
/Users/eggeek/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [40]:
df_.head()

       map  scenid  total-src  20move-src  distance  path_size  hLevel
0  den404d       0         94          85         0          0       0
0  den200n       0         45          45         0          0       0
0    arena       0         91         108         0          0       0
1    arena       1        111         118         0          0       0
2    arena       2        157         156         0          0       0

In [41]:
df_.drop(columns=['hLevel', 'distance', 'path_size'], inplace=True)
df_.rename(columns={'total-src': 'total-src-original', '20move-src': '20move-src-original'}, inplace=True)

df0.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df0.rename(columns={'total-src': 'total-src-0', '20move-src': '20move-src-0'}, inplace=True)

df1.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df1.rename(columns={'total-src': 'total-src-1', '20move-src': '20move-src-1'}, inplace=True)

df2.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df2.rename(columns={'total-src': 'total-src-2', '20move-src': '20move-src-2'}, inplace=True)

df3.drop(columns=['hLevel', 'distance','path_size'], inplace=True)
df3.rename(columns={'total-src': 'total-src-3', '20move-src': '20move-src-3'}, inplace=True)

In [42]:
df = pd.merge(df_, df0, on=['map', 'scenid'])
df = pd.merge(df, df1, on=['map', 'scenid'])
df = pd.merge(df, df2, on=['map', 'scenid'])
df = pd.merge(df, df3, on=['map', 'scenid'])

In [43]:
df.head()

,map,scenid,total-src-original,20move-src-original,total-src-0,20move-src-0,total-src-1,20move-src-1,total-src-2,20move-src-2,total-src-3,20move-src-3
0,den404d,0,94,85,144,145,204,196,385,382,176,170
1,den200n,0,45,45,63,63,62,65,64,63,59,58
2,arena,0,91,108,129,142,151,149,220,214,178,181
3,arena,1,111,118,155,151,211,176,341,347,244,210
4,arena,2,157,156,177,174,197,193,278,273,255,232

In [44]:
df['ratio-total-ori1'] = df['total-src-original'] / df['total-src-1']
df['ratio-20-ori1'] = df['20move-src-original'] / df['20move-src-1']
df['ratio-total-ori3'] = df['total-src-original'] / df['total-src-3']
df['ratio-20-ori3'] = df['20move-src-original'] / df['20move-src-3']

In [47]:
pd.DataFrame(df['ratio-total-ori1']).describe().T

,count,mean,std,min,25%,50%,75%,max
ratio-total-ori1,7751.0,1.184238,0.218091,0.236364,1.041741,1.157674,1.297421,3.150628

In [48]:
pd.DataFrame(df['ratio-total-ori3']).describe().T

,count,mean,std,min,25%,50%,75%,max
ratio-total-ori3,7751.0,1.180394,0.263858,0.374702,1.002893,1.163696,1.308512,3.637681

In [49]:
pd.DataFrame(df['ratio-20-ori1']).describe().T

,count,mean,std,min,25%,50%,75%,max
ratio-20-ori1,7751.0,1.189638,0.489419,0.198722,0.877065,1.104135,1.389743,5.965675

In [50]:
pd.DataFrame(df['ratio-20-ori3']).describe().T

,count,mean,std,min,25%,50%,75%,max
ratio-20-ori3,7751.0,1.301264,0.607509,0.163265,0.891366,1.19211,1.557561,6.533835

In [45]:
df['ratio-total-01'] = df['total-src-0'] / df['total-src-1']
df['ratio-20-01'] = df['20move-src-0'] / df['20move-src-1']
df['ratio-total-03'] = df['total-src-0'] / df['total-src-3']
df['ratio-20-03'] = df['20move-src-0'] / df['20move-src-3']

In [31]:
pd.DataFrame(df['ratio-total-01']).describe().T

,count,mean,std,min,25%,50%,75%,max
ratio-total-01,7751.0,0.976771,0.103692,0.497194,0.922467,0.991003,1.037275,1.815365

In [32]:
pd.DataFrame(df['ratio-total-03'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-total-03,7751.0,0.96872,0.120343,0.458556,0.892308,0.970874,1.054709,1.647634

In [33]:
pd.DataFrame(df['ratio-20-01'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-20-01,7751.0,0.967003,0.156996,0.299831,0.886236,0.972789,1.045251,2.01046

In [34]:
pd.DataFrame(df['ratio-20-03'].describe()).T

,count,mean,std,min,25%,50%,75%,max
ratio-20-03,7751.0,1.037042,0.196116,0.407636,0.919453,1.03012,1.134545,2.366569